.uk-position-top-center {
  margin-top: 120px;
}

.add-user-button {
  margin-top: 20px;
  margin-left: 80px;
}

.add-user-button:hover {
  cursor: pointer;
}

.table-cell {
  padding-right: 40px;
}

.table-locked {
  color: grey;
}

.table-icons {
  float: right;
  width: 80px;
}

.table-icons-edit:hover {
  color: black;
  cursor: pointer;
}

.table-icons-ban:hover {
  color: red;
  cursor: pointer;
}

.table-icons-locked {
  padding-left: 20px;
}

.table-icons-unlock {
  color: black;
  cursor: pointer;
}

.edit-user-checkboxes {
  padding-left: 20px;
}
