<div class="side">
  <div>
    <img src="https://static1.squarespace.com/static/51cdafc4e4b09eb676a64e68/t/57a119e3f5e23161e8daf73d/1470175723578/?format=750w"
         alt="cry" class="cry-image">
  </div>
  <div class="text">
    <h2>Awww... Don't cry</h2>
    <p>
      Maybe your project doesn't go as planed, <br>
      maybe your deadline is just around the corner, and your computer is on fire <br>
      and the whole room is on fire and you are on fire
    </p>
    <p>
      But hey this is just a <span class="fourofour">404</span> page
    </p>
    <p>
      <i>So everything will be fine, you got this ;)</i>
    </p>
  </div>
</div>
