<app-main-navbar></app-main-navbar>
<div class="my-container">
  <div class="board">
    <div class="coulmn-container" *ngFor="let column of board?.columns; let i = index">
      <div
        uk-icon="icon: plus-circle; ratio: 1.9"
        class="add-column" uk-toggle="target: #new-column-modal"
        (click)="addColumn(column.subcolumns.length, null)">
      </div>
      <ol class="coulmn" [ngStyle]="{'border-top-color': colors[i]}" *ngIf="column?.subcolumns.length == 0">
        <h4 class="title">
          {{ column?.title }}
          <span
            uk-icon="icon: plus-circle"
            class="edit-column"
            uk-toggle="target: #new-column-modal"
            (click)="addColumn(column.subcolumns.length, column.id)">
          </span>
          <span
            uk-icon="icon: trash" class="delete-column"
            uk-toggle="target: #delete-column-modal"
            (click)="setDeleteColumn(column)"
            *ngIf="column.subcolumns.length == 0"></span>
          <span class="uk-badge wip" *ngIf="column?.wip_restriction > 0"> {{ column?.wip_restriction }} </span>
        </h4>
        <hr>
        <!--<div class="cards-container" (drop)="onDrop($event, card, column)" (dragover)="allowDrop($event)">-->
          <!--<li draggable="true" (dragstart)="onDragStart($event, card, column)" class="board-item" *ngFor="let card of column.cards">-->
            <!--<h3>{{ card.title }}</h3>-->
            <!--<div>{{ card.content }}</div>-->
          <!--</li>-->
        <!--</div>-->
      </ol>
      <ol class="coulmn" [ngStyle]="{'border-top-color': colors[i]}" *ngIf="column?.subcolumns.length > 0">
        <h4 class="subcolumn-title">
          {{ column?.title }}
          <span
            uk-icon="icon: plus-circle"
            class="edit-column"
            uk-toggle="target: #new-column-modal"
            (click)="addColumn(column.subcolumns.length, column.id)">
          </span>
          <span uk-icon="icon: trash" class="delete-column"
                uk-toggle="target: #delete-column-modal"
                (click)="setDeleteColumn(column)"
                *ngIf="column.subcolumns.length == 0">
          </span>
          <span class="uk-badge wip-subcolumn" *ngIf="column?.wip_restriction > 0"> {{ column?.wip_restriction }} </span>
        </h4>
        <div class="subcolumn-container">
          <div class="test" *ngFor="let subcolumn of column.subcolumns; let j = index">
            <div class="subcolumn">
              <h6 class="subcolumn-title">
                {{ subcolumn?.title }}
                <span uk-icon="icon: trash" class="delete-column" uk-toggle="target: #delete-column-modal" (click)="setDeleteColumn(column)"></span>
                <span class="uk-badge wip-subcolumn" *ngIf="subcolumn?.wip_restriction > 0">{{ subcolumn?.wip_restriction }}</span>
              </h6>
              <hr class="subcolumn-hr">
              <div class="cards-container">
                <!--<li draggable="true" class="board-item">-->
                  <!--&lt;!&ndash;<h3> naslov </h3>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div> to je vsebina </div>&ndash;&gt;-->
                <!--</li>-->
              </div>
            </div>
            <span class="vertical-line" *ngIf="j < column?.subcolumns.length-1"></span>
          </div>
        </div>
      </ol>
      <!--<div  uk-icon="icon: plus-circle; ratio: 1.9" class="add-column" uk-toggle="target: #new-column-modal" (click)="addColumn(i, null)"></div>-->
    </div>
    <div >
      <div  uk-icon="icon: plus-circle; ratio: 1.9"
            class="add-column-last"
            uk-toggle="target: #new-column-modal"
            (click)="addColumn(board?.columns.length, null)">
      </div>
    </div>
  </div>
</div>

<!-- Add column modal -->
<div id="new-column-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-overflow-auto">
    <button class="uk-modal-close-default" type="button" uk-close (click)="closeModal()"></button>
    <h2 class="uk-modal-title">Dodaj stolpec</h2>
    <!-- add column form -->
    <form (ngSubmit)="postColumn()" [formGroup]="newColumnForm">
      <fieldset class="uk-fieldset">

        <div class="uk-margin">
          <label class="uk-form-label" for="new-name">Ime stolpca</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="new-name" type="text" placeholder="Ime stolpca" formControlName="name"
                   [ngClass]="{'danger-input uk-animation-shake' : !newColumnForm.get('name').valid && newColumnForm.get('name').touched}">
          </div>
        </div>

        <span class="uk-alert-danger"
        *ngIf="!newColumnForm.get('name').valid && newColumnForm.get('name').touched">
        Ime stolpca je obezno polje.</span>

        <div class="uk-margin">
          <label class="uk-form-label" for="new-surname">WIP omejitev</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="new-surname" type="number" placeholder="wip omejitev" formControlName="wip"
                   [ngClass]="{'danger-input uk-animation-shake' : !newColumnForm.get('wip').valid && newColumnForm.get('wip').touched}">
          </div>
        </div>

        <span class="uk-alert-danger"
              *ngIf="!newColumnForm.get('wip').valid && newColumnForm.get('wip').touched">
        Wip omejitev stolpca je obvezno polje.</span>

        <div>
          <p><label class="uk-form-label">Vloge stolpca</label></p>
          <p class="uk-margin edit-user-checkboxes">
            <label><input class="uk-checkbox" type="checkbox" formControlName="leftColumn"> Levi mejni stolpec</label>
          </p>
          <p class="uk-margin edit-user-checkboxes">
            <label><input class="uk-checkbox" type="checkbox" formControlName="rightColumn"> Desni mejni stolpec</label>
          </p>
          <p class="uk-margin edit-user-checkboxes">
            <label><input class="uk-checkbox" type="checkbox" formControlName="highPriority"> Stolpec z najvišjo prioriteto</label>
          </p>
          <p class="uk-margin edit-user-checkboxes">
            <label><input class="uk-checkbox" type="checkbox" formControlName="testColumn"> Stolpec za testiranje</label>
          </p>
        </div>

        <div *ngIf="error != null">
          <div class="uk-alert-danger" uk-alert>
            <p>{{ error }}</p>
          </div>
        </div>

        <div class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="closeModal()">Prekliči</button>
          <button class="uk-button uk-button-primary" type="submit" [disabled]="!newColumnForm.valid">Shrani</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div id="delete-column-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-overflow-auto">
    <h3>Ste prepričani, da želite izbirsati stolpec?</h3>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">prekliči</button>
      <button class="uk-button uk-button-danger" type="button" (click)="deleteColumn()">Izbriši</button>
    </p>
  </div>
</div>
