<app-main-navbar></app-main-navbar>
<!-- New project modal toggle button -->
<!--<div class="uk-margin uk-margin-left">-->
  <!--<button class="uk-button uk-button-primary" (click)="addProjectModal()" uk-toggle="target: #add-project-modal">Dodaj projekt na tablo</button>-->
<!--</div>-->

<!--<div class="my-container" *ngFor="let project of projectsOnBoard">-->
  <!-- gumb za dodajanje stolpca ce je tabla prazna -->

<div class="my-container">

  <div *ngIf="board?.columns.length == 0">
    <button class="uk-button uk-button-primary empty-board uk-position-center" uk-toggle="target: #new-column-modal" (click)="addColumn(0, null)">dodaj stolpec</button>
  </div>

  <div class="board">
    <div class="coulmn-container" *ngFor="let column of board?.columns; let i = index">

      <div
        uk-icon="icon: plus-circle; ratio: 1.9"
        class="add-column" uk-toggle="target: #new-column-modal"
        *ngIf="editBoard"
        (click)="addColumn(i, null)">
      </div>

      <ol class="coulmn" [ngStyle]="{'border-top-color': colors[(i % 6)]}" *ngIf="column?.subcolumns.length == 0">

        <h4 class="title">
          {{ column?.title }}
          <span
            uk-icon="icon: plus-circle"
            class="edit-column"
            uk-toggle="target: #new-column-modal"
            *ngIf="editBoard"
            (click)="addColumn(column.subcolumns.length, column.id)">
          </span>

          <span class="edit-column" uk-icon="more-vertical" type="button"></span>
          <div uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 300">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="change-type" (click)="setLeftColumn(column.id)">levi mejni stolpec</li>
              <li class="change-type" (click)="setRightColumn(column.id)">desni mejni stolpec</li>
              <li class="change-type" (click)="setTestColumn(column.id)">testni stolpec</li>
              <li class="change-type" (click)="setPriorityColumn(column.id)">stolpec z najvišjo prioriteto</li>
            </ul>
          </div>

          <span
            uk-icon="icon: trash" class="delete-column"
            uk-toggle="target: #delete-column-modal"
            (click)="setDeleteColumn(column)"
            *ngIf="column.subcolumns.length == 0 && column?.column_cards.length == 0 && editBoard">
          </span>

          <span class="uk-badge wip" *ngIf="column?.wip_restriction > 0"> {{ column?.column_cards.length }} / {{ column?.wip_restriction }} </span>
          <br>
        </h4>

        <div class="special-column-text">{{ showSpecialColumn(column.id) }}</div>

        <hr>

        <div class="cards-container" (drop)="onDrop($event, card, column)" (dragover)="allowDrop($event)">
          <li draggable="true" (dragstart)="onDragStart($event, card, column)" class="board-item" *ngFor="let card of column.column_cards">
            <h3>ID: {{ card }}</h3>
            <div>Vsebina kartice</div>
          </li>
        </div>

      </ol>
      <ol class="coulmn" [ngStyle]="{'border-top-color': colors[(i % 6)]}" *ngIf="column?.subcolumns.length > 0">
        <h4 class="subcolumn-title">
          {{ column?.title }}
          <span class="edit-column" uk-icon="more-vertical" type="button"></span>
          <div uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 300">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="change-type" (click)="setLeftColumn(column.id)">levi mejni stolpec</li>
              <li class="change-type" (click)="setRightColumn(column.id)">desni mejni stolpec</li>
              <li class="change-type" (click)="setTestColumn(column.id)">testni stolpec</li>
              <li class="change-type" (click)="setPriorityColumn(column.id)">stolpec z najvišjo prioriteto</li>
            </ul>
          </div>
          <span uk-icon="icon: trash" class="delete-column"
                uk-toggle="target: #delete-column-modal"
                (click)="setDeleteColumn(column)"
                *ngIf="column.subcolumns.length == 0 && editBoard">
          </span>
          <span class="uk-badge wip-subcolumn" *ngIf="column?.wip_restriction > 0"> 0/{{ column?.wip_restriction }} </span>
        </h4>
        <div class="special-column-text" *ngIf="showSpecialColumn(column.id) != null">{{ showSpecialColumn(column.id) }}</div>
        <div class="subcolumn-container">
          <div class="test" *ngFor="let subcolumn of column.subcolumns; let j = index">
            <div
              uk-icon="icon: plus-circle; ratio: 1.3"
              class="add-column-subcolmn" uk-toggle="target: #new-column-modal"
              *ngIf="editBoard"
              (click)="addColumn(j, column.id)">
            </div>
            <div class="subcolumn">
              <h6 class="subcolumn-title">
                {{ subcolumn?.title }}

                <span class="edit-column" uk-icon="more-vertical" type="button"></span>
                <div uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 300">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="change-type" (click)="setLeftColumn(subcolumn.id)">levi mejni stolpec</li>
                    <li class="change-type" (click)="setRightColumn(subcolumn.id)">desni mejni stolpec</li>
                    <li class="change-type" (click)="setTestColumn(subcolumn.id)">testni stolpec</li>
                    <li class="change-type" (click)="setPriorityColumn(subcolumn.id)">stolpec z najvišjo prioriteto</li>
                  </ul>
                </div>

                <span
                  uk-icon="icon: trash"
                  class="delete-column"
                  uk-toggle="target: #delete-column-modal"
                  (click)="setDeleteColumn(subcolumn)"
                  *ngIf=" subcolumn?.column_cards.length == 0 && editBoard">
                </span>

                <span class="uk-badge wip-subcolumn" *ngIf="subcolumn?.wip_restriction > 0"> {{ subcolumn?.column_cards.length }} / {{ subcolumn?.wip_restriction }}</span>

              </h6>
              <div class="special-column-text">{{ showSpecialColumn(subcolumn.id) }}</div>
              <hr class="subcolumn-hr">

              <div class="cards-container" (drop)="onDrop($event, card, column)" (dragover)="allowDrop($event)">
                <li draggable="true" (dragstart)="onDragStart($event, card, column)" class="board-item" *ngFor="let card of subcolumn.column_cards">
                  <h3> naslov </h3>
                  <div> to je vsebina </div>
                </li>
              </div>

            </div>
            <span class="vertical-line" *ngIf="j < column?.subcolumns.length-1"></span>
          </div>
          <div
            uk-icon="icon: plus-circle; ratio: 1.3"
            class="add-column" uk-toggle="target: #new-column-modal"
            *ngIf="editBoard"
            (click)="addColumn(column.subcolumns.length, column.id)">
          </div>
        </div>
      </ol>
    </div>
    <div >
      <div  uk-icon="icon: plus-circle; ratio: 1.9"
            class="add-column-last"
            uk-toggle="target: #new-column-modal"
            *ngIf="editBoard"
            (click)="addColumn(board?.columns.length, null)">
      </div>
    </div>
  </div>
</div>
<!-- Add column modal -->
<div id="new-column-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-overflow-auto">
    <button class="uk-modal-close-default" type="button" uk-close (click)="closeModal()"></button>
    <h2 class="uk-modal-title">Dodaj stolpec</h2>
    <!-- add column form -->
    <form (ngSubmit)="postColumn()" [formGroup]="newColumnForm">
      <fieldset class="uk-fieldset">

        <div class="uk-margin">
          <label class="uk-form-label" for="new-name">Ime stolpca</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="new-name" type="text" placeholder="Ime stolpca" formControlName="name"
                   [ngClass]="{'danger-input uk-animation-shake' : !newColumnForm.get('name').valid && newColumnForm.get('name').touched}">
          </div>
        </div>

        <span class="uk-alert-danger"
        *ngIf="!newColumnForm.get('name').valid && newColumnForm.get('name').touched">
        Ime stolpca je obezno polje.</span>

        <div class="uk-margin">
          <label class="uk-form-label" for="new-surname">WIP omejitev</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="new-surname" type="number" placeholder="wip omejitev" formControlName="wip"
                   [ngClass]="{'danger-input uk-animation-shake' : !newColumnForm.get('wip').valid && newColumnForm.get('wip').touched}">
          </div>
        </div>

        <span class="uk-alert-danger"
              *ngIf="!newColumnForm.get('wip').valid && newColumnForm.get('wip').touched">
        Wip omejitev stolpca je obvezno polje.</span>

        <div>
          <p><label class="uk-form-label">Vloge stolpca</label></p>
          <p class="uk-margin edit-user-checkboxes" *ngIf="displayAddLeftColumn">
            <label><input class="uk-checkbox" type="checkbox" formControlName="leftColumn"> Levi mejni stolpec</label>
          </p>
          <p class="uk-margin edit-user-checkboxes" *ngIf="displayAddRightColumn">
            <label><input class="uk-checkbox" type="checkbox" formControlName="rightColumn"> Desni mejni stolpec</label>
          </p>
          <p class="uk-margin edit-user-checkboxes">
            <label><input class="uk-checkbox" type="checkbox" formControlName="highPriority"> Stolpec z najvišjo prioriteto</label>
          </p>
          <p class="uk-margin edit-user-checkboxes" *ngIf="displayAddTestColumn">
            <label><input class="uk-checkbox" type="checkbox" formControlName="testColumn"> Stolpec za testiranje</label>
          </p>
        </div>

        <div *ngIf="error != null">
          <div class="uk-alert-danger" uk-alert>
            <p>{{ error }}</p>
          </div>
        </div>

        <div class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="closeModal()">Prekliči</button>
          <button class="uk-button uk-button-primary" type="submit" [disabled]="!newColumnForm.valid">Shrani</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div id="delete-column-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-overflow-auto">
    <button class="uk-modal-close-default" type="button" uk-close (click)="closeDeleteModal()"></button>
    <h3>Ste prepričani, da želite izbirsati stolpec?</h3>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="closeDeleteModal()">prekliči</button>
      <button class="uk-button uk-button-danger" type="button" (click)="deleteColumn()">Izbriši</button>
    </p>

    <div *ngIf="error != null">
      <div class="uk-alert-danger" uk-alert>
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</div>


<!-- add project modal -->
<div id="add-project-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-overflow-auto">
    <button class="uk-modal-close-default" type="button" (click)="cancelAddProject()" uk-close></button>
    <h2 class="uk-modal-title">Dodaj projekt na tablo</h2>
    <!-- Projects form -->
    <form (ngSubmit)="addProject()" [formGroup]="addProjectForm">
      <fieldset class="uk-fieldset">
        <!-- Show all projects -->
        <div class="uk-form-controls  uk-margin">
          <label class="uk-form-label" for="add-project-group">Izberi projekt</label>
          <select class="uk-select" id="add-project-group" formControlName="project">
              <ng-container *ngFor="let project of projects">
                  <option [ngValue]="project"  >{{project.title}}</option>
              </ng-container>
          </select>
        </div>
        <div class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="cancelAddProject()">Prekliči</button>
          <button class="uk-button uk-button-primary" type="submit" [disabled]="!addProjectForm.valid">Shrani</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
