
.my-container {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.board {
  top: 10px;
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  list-style: none;
  width: 100%;
}

.board-item {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.board-item:hover {
  color: midnightblue;
  will-change: box-shadow;
  cursor: pointer;
  background: lightgray;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}

.coulmn-container {
  flex-direction: row;
  margin: auto;
  display: flex;
  width: 100%;
}

.coulmn {
  border-top: 2px solid;
  vertical-align: top;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
  height: 85vh;
  padding: 10px;
  padding-top: 5px;
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
  min-width: 170px;
  border-top: 5px solid;
  margin: 2px;
}

.title {
  margin-bottom: 27px;
}

.subcolumn-container {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
}

.subcolumn {
  width: 100%;
  min-width: 170px;
}

.subcolumn-title {
  margin-bottom: 3px;
}

.subcolumn-hr {
  margin: 0;
  margin-bottom: 20px;
}

.test {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  width: 100%;
}

.vertical-line {
  border-left: 1px solid lightgray;
  height: 78vh;
  margin: 30px 10px;
}

.cards-container {
  height: 700px;
  overflow-y: scroll;
}

.cards-container::-webkit-scrollbar {
  display: none !important
}

.add-column {
  padding: 0;
  flex-basis: 0;
  width: 0;
  opacity: 0;
}

.add-column:hover {
  cursor: pointer;
  width: 40px;
  opacity: 1;
}

.add-column-last {
  width: 0;
  opacity: 0;
}

.add-column-last:hover {
  cursor: pointer;
  opacity: 1;
}

.wip {
  float: right;
  margin-top: 7px;
}

.wip-subcolumn {
  float: right;
}

.delete-column {
  opacity: 0.1;
  color: red;
}

.edit-column {
  opacity: 0.1;
  color: black;
}

.edit-column:hover, .delete-column:hover {
  opacity: 1;
  cursor: pointer;
}

.danger-input {
  border: 1.5px solid  red;
  border-radius: 5px;
}
