<app-main-navbar></app-main-navbar>
<div class="uk-container">
    <!-- New board modal toggle button -->
    <div *ngIf="isCurrentUserKanbanMaster" class="toolbar">
        <button class="uk-button uk-button-primary newBoardButton" (click)="loadModal()" uk-toggle="target: #new-board-modal">Nova tabla</button>
        <label class="switch"> 
           <input type="checkbox" (change)="displayOwnOnlySwitch($event)">
          <span class="slider round"></span>
        </label> Prikaži samo moje table
    </div>
    <br>
    <!-- Boards display -->
    <div uk-height-match="target: > div > .uk-card" class="uk-grid-small" uk-grid >
        <div class="uk-card uk-card-default uk-card-body uk-card-hover boardCard" *ngFor="let board of boards" (click)='redirect(board[1])'>
            <div *ngIf="isCurrentUserKanbanMaster" class="uk-card-badge">
                <button class="uk-icon-link uk-dark" uk-icon="copy"  (click)="copyBoard(board, $event)"></button>
                <button class="uk-icon-link uk-dark" uk-icon="pencil"  (click)="editBoard(board, $event)" uk-toggle="target: #new-board-modal"></button>
                <button class="uk-icon-link uk-dark" uk-icon="trash"  (click)="deleteBoard(board, $event)"></button>
            </div><br><h3 class="uk-text-center uk-card-title" ><a [routerLink]="['/board', board[1]]">{{board[0]}}</a></h3>
            <div class="uk-margin uk-margin-remove-bottom">Projekti: <span>{{board[2]["projects"]}} </span></div>
        </div>
    </div>

    <!-- New board modal -->
    <div id="new-board-modal" uk-modal="esc-close: false; bg-close: false;">
        <div class="uk-modal-dialog uk-modal-body uk-overflow-auto ">
            <button class="uk-modal-close-default" type="button" (click)="cancelBoard()" uk-close></button>
            <h2 class="uk-modal-title">{{boardModalTitle}}</h2>
            <!-- New board form --> 
            <form>
                <fieldset class="uk-fieldset">   
                    <!-- Board name input -->               
                    <div class="uk-margin">  
                        <input class="uk-input" [formControl]="boardNameInput" type="text" placeholder="Ime table" [(ngModel)]="boardName" name="boardNameInput">
                    </div>

                    <hr>
                   
                </fieldset>
            </form>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button" (click)="cancelBoard()">Prekliči</button>
                <!-- Save board -->
                <button class="uk-button uk-button-primary" type="button" (click)="saveBoard()" >Shrani</button>
            </p>
        </div>
    </div>
</div>
